/* Variables */

:root {
    --backgroundColor: #0d1117;
    --borderColor: #30363d;

    --primaryColor: #161b22;
    --secondaryColor: #21262d;
    --tertiaryColor: #1f6feb;

    --primaryFontColor: #a4d1d9;
    --secondaryFontColor: #166ff0;
    --errorFontColor: red;
}



/* Page Layout */

body {
    background-color: var(--backgroundColor);

    color: var(--primaryFontColor);
}

    .panel {
        background-color: var(--primaryColor);

        padding: 16px;
        border: 1px solid var(--borderColor);
        border-radius: 5px;
        margin: 8px;
    }




#page-body {
    display: flex;
    flex-direction: row;
}

    #page-bio {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #page-viewer {
        width: 100%;
    }

        /* #page-navbar {} */

        /* #page-content {} */

            #list-container {
                margin: 15px;
            }

            #form-container {
                margin: 15px;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }  


#page-footer {
    display: flex;
    column-gap: 8px;
    justify-content: space-around;
}


.error-container {
    color: var(--errorFontColor);
}



/* Bio Panel */

#bio-img {
    height: 20vw;
    width: 20vw;
    min-width: 100%;
    border-radius: 50%;

    object-fit: cover;
}

#bio-namesTray {
    font-size: 2em;
}
    #bio-name {
        font-size: 100%;
    }
    #bio-username {
        font-size: 75%;
    }

#bio-interactBtns, #bio-followerTray {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

#bio-followerTray {
    font-size: 80%;
}

h3 {
    font-size: 130%;
}


/* Projects Page */

#projects-container {
    border: 1px solid var(--borderColor);
}
    #projects-search-container{
        display: flex;
    }
        #projects-searchbar {
            width: 100%
        }
        #projects-search-button {
            border-radius: 5px;

            width: 40px;
            height: 40px;
        }
            #projects-search-btn-img {
                width: 25px;
                height: 25px;
            }

    #projects-list-header {
        margin: 8px;

        display: flex;
        flex-direction: row;
        flex-flow: row-reverse;
        column-gap: 8px;
    }

.project-card {
    background-color: var(--backgroundColor);

    border: 1px solid var(--borderColor);
    margin: 8px;
}
    .project-card-content-container {
        display: flex;
    }
        .project-card-description, .project-card-created, .project-card-updated {
            color: gray;
        }
    .project-card-data {
        margin: 10px;
    }
    .project-card-data-container {
        font-size: 70%;
    }
        .project-card-info-container {
            display: flex;
            flex-direction: row;
        }
        
    .project-card-btn-container {
        margin: 8px;
        
        display: flex;
        flex-direction: row-reverse;
        column-gap: 8px;
    }