/* Variables */

:root {
    --backgroundColor: #0d1117;
    --borderColor: #30363d;

    --primaryColor: #161b22;
    --secondaryColor: #21262d;
    --tertiaryColor: #1f6feb;

    --primaryFontColor: #a4d1d9;
    --secondaryFontColor: #166ff0;
}



/* Page Layout */

body {
    background-color: var(--backgroundColor);

    color: var(--primaryFontColor);
}

    .panel {
        background-color: var(--primaryColor);

        padding: 16px;
        border: 1px solid var(--borderColor);
        margin: 8px;
    }




#page-body {
    display: flex;
    flex-direction: row;
}

    #page-bio {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #page-viewer {
        width: 100%;
    }

        /* #page-navbar {} */

        /* #page-content {} */

            #list-container {
                margin: 15px;
            }

            #form-container {
                margin: 15px;
            }  


#page-footer {
    display: flex;
    justify-content: space-around;
}



/* Bio Panel */

#bio-img {
    height: auto;
    width: 20vw;
    min-width: 100%;
    border-radius: 50%;
}

#bio-namesTray {
    font-size: 2em;
}
    #bio-name {
        font-size: 100%;
    }
    #bio-username {
        font-size: 75%;
    }

#bio-interactBtns, #bio-followerTray {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

#bio-followerTray {
    font-size: 80%;
}

h3 {
    font-size: 130%;
}